.Spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    height: auto;
}

.Spinner_path {
    @apply stroke-current;
    fill: none;
    stroke-linecap: round;
    stroke-width: 6;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}